@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #112031;
}

* {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}